<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:replace="layout/layout :: titulo"></title>
        <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
        <link rel="stylesheet" th:href="@{/css/jquery-ui.min.css}" />
        <link rel="stylesheet" th:href="@{/css/style.css}" />
    </head>
    <body>
        <div class="container py-4">
            <div class="card">
                <div class="card-header">Inicio de sesión</div>
                <div class="card-body">
                    <form th:action="@{/login}" method="post">
                        <div class="form-group col-sm-5">
                            <input type="text" name="username" id="username"
                                   class="form-control" placeholder="Usuario" autofocus required />
                        </div>
                        <div class="form-group col-sm-5">
                            <input type="password" name="password" id="password"
                                   class="form-control" placeholder="Contraseña" required />
                        </div>
                        <div class="form-group col-sm-5">
                            <input type="submit" class="btn btn-md btn-primary btn-block enviar"
                                   value="Iniciar sesión"/>
                        </div>
                        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                    </form>
                </div>
            </div>
        </div>
        <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
        <script th:src="@{/js/popper.min.js}"></script>
        <script th:src="@{/js/bootstrap.min.js}"></script>
        <script th:src="@{/js/jquery-ui.min.js}"></script>
    </body>
</html>